/* all
*/
body {
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: sans-serif;
    height: 90vh;
}

/* canvas
*/
canvas {
    border: 1px solid lightgrey;
}


/* button
*/
button {
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    border: 1px solid lightgrey;
    cursor: pointer;
    background-color: #f0f0f0;
}

button:hover {
    background-color: #e2e2e2;
}

button:active {
    background-color: #f0f0f0;
}